.container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: auto;
    position: relative;
}

.mini-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 50px;
}

#correct {
    background-color: rgb(29, 116, 29);
}

#wrong {
    background-color: rgb(139, 7, 7);
}

.answer-space {
    margin-bottom: 15px;
    background-color: rgb(10, 43, 143);
}

li {
    list-style-type: none;
}

.radio-buttons {
    display: flex;
    flex-direction: column;
    align-items: start;
}